.App {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
}

.flex-container {
  display: flex;
  width: 300px;
  height: 300px;
  border: 4px solid black;
}

.flex-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.circle {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 1px solid;
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
}

.circle1 {
  margin-left: 15px;
}
.btn {
  height: 25px !important;
  width: 45px;
  border-radius: 20%;
  border: 1px solid;
  margin-top: 200px;
  margin-left: 25px;
}

.flex-child:first-child {
  margin-right: 100px;
}
